wandb/
tmp/
*debug*
debugs/
outputs/
samples/
dev_tests/
__pycache__/
ossutil_output/
.ossutil_checkpoint/
checkpoints/
trainer_output/
data/
viz_output/

*.ipynb
!notebooks/*.ipynb
*.safetensors
*.ckpt
*.sh
!scripts/**/*.sh

**/.ipynb_checkpoints/
